@use "./variables.scss";

.toolbar{
    height: variables.$toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;

    &__btn {
        height: 25px;
        width: 25px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .brush{
        background:
    }
}

.setting-bar {
    height: variables.$toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: variables.$toolbar-height;
}